@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary-color: #b9001f;
  --white-color: #fff;
  --black-color: #000;
}

body {
  font-family: 'Poppins', sans-serif;
}
