@import url('/assets/css/reset.css');
@import url('/assets/css/global.css');
@import url('/assets/css/components/navigator.css');

.wrapper {
  display: flex;
  height: 100vh;
  flex-flow: row nowrap;
}

.wrapper .left-column {
  width: 100%;
  max-width: 6.25rem;
  height: 100%;
  background-color: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .main-content {
  height: 100%;
  width: 100%;
  background-color: #808080;
  padding-left: 2rem;
}
