.pills ul {
  display: flex;
  flex-direction: row;
}

.pills ul li {
  background-color: var(--primary-color);
  color: var(white-color);
  padding: 0.3rem 1rem;
  margin: 0 0.65rem;
  border-radius: 1.5rem;
  text-transform: uppercase;
}

.pills ul li:first-child {
  margin-left: 0;
}
